.al > a {
    text-decoration: none;
    color: black;
}

.al > a:hover {
    text-decoration: none;
    color: black;
}

.year {
    display: flex;
    justify-content: center;
}

.al {
    display: flex;
    flex-direction: column;
    justify-content: center;
}